.kakaomapcontainer {
  position: relative;
  left: -20px;
  padding: 10px;
  background: rgb(134,147,227);
background: linear-gradient(90deg, rgba(134,147,227,1) 45%, rgba(227,224,230,1) 81%, rgba(233,221,243,1) 100%);
  border-radius: 15px;
}